:root{
    --color-background: #FFFFFF;
    --color-text: #2D2D2D;
    --color-part-of-speech: #757575;
    --color-slider-background: #757575;
    --color-slider-thumb: #FFFFFF;
    --color-highlight: #A445ED;
    --color-bullet-points: #8F19E8;
    --color-error: #FF5252;
    --color-input-background: #F4F4F4;
    --color-separator: #E9E9E9;
}

.theme1{
    --color-background: #FFFFFF;
    --color-text: #2D2D2D;
    --color-slider-background: #757575;
    --color-slider-thumb: #FFFFFF;
    --color-part-of-speech: #757575;
    --color-highlight: #A445ED;
    --color-bullet-points: #8F19E8;
    --color-error: #FF5252;
    --color-input-background: #F4F4F4;
    --color-separator: #E9E9E9;
}
   
.theme2{
    --color-background: #000000;
    --color-text: #FFFFFF;
    --color-slider-background: #A445ED;
    --color-slider-thumb: #FFFFFF;
    --color-part-of-speech: #757575;
    --color-highlight: #A445ED;
    --color-bullet-points: #8F19E8;
    --color-error: #FF5252;
    --color-input-background:#1F1F1F;
    --color-separator: #E9E9E9;
}

body{
    font-family: sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

/*Mobile*/

.container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    appearance: none;         
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: 700;
    background-image: url("assets/images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: transparent;
    border: none;
    color: var(--color-text);
    outline: none;
    display: flex;
    padding-right: 1rem;
    text-align: end;
    align-items: center;
    margin-right: 1rem;
}

.options_div{
    display: flex;
}

option{
    background-color: transparent;
    text-align: start;
}

#slider{
    -webkit-appearance: none;
    width: 2.5rem;
    height: 1.3rem;
    background-color: var(--color-slider-background);
    border-radius: 999px;  
    padding: 0.08rem;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none; 
    appearance: none;
    background: var(--color-slider-thumb);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}


form{
    width: 100%;
}

.input_div{
    background-color: var(--color-input-background);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 0 1rem; 
    
}

#form_input{
    background-color: transparent;
    border: none;
    color: var(--color-text);
    font-size: 1.3rem;
    font-weight: 600;
    height: 3rem;
    outline: none;
    width: 80%;
}

.word_information{

}